{% extends "base.html" %}

{% block title %}Materials{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/materials.css">
{% endblock %}

{% block content %}

<div class="content-container">
	{% if material_groups %}
		{% for group in material_groups %}
			<div class="material-group">
				<h3>{{ group.title }}</h3>
				<ol class="materials-list">
					{% for material in group.materials.all %}
						{% if material.visible %}
							<li>
								{% if material.url %}
									<span class="icon-link"></span>
								{% else %}
									{% if material.file %}
										<span class="icon-file"></span>
									{% else %}
										<span class="icon-question-sign"></span>
									{% endif %}
								{% endif %}

								{% if material.file %}
									<a class="material-name" href="{{ MEDIA_URL }}{{ material.file }}">
								{% else %}
									{% if material.url %}
										<a class="material-name" href="{{ material.url }}">
									{% else %}
										<a class="material-name" href="#">
									{% endif %}
								{% endif %}
									{{ material }}
								</a>
								
								<span class="material-subtitle">
									{% if material.file %}
										{{ material.basename }}
									{% else %}
										{{ material.url|truncatechars:100 }}
									{% endif %}
								</span>
							</li>
						{% endif %}
					{% endfor %}
				</ol>
			</div>
		{% endfor %}
	{% else %}
		<div class="no-data">
			<div class="icon-ban-circle"></div>
			No materials exist for this course.
		</div>
	{% endif %}
</div>

{% endblock %}
