<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>

	{% load active_tag %}

	<!-- Stylesheets -->
	{% block css %}
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/master.css">
		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/font-awesome.css">
	{% endblock %}

	<!-- Scripts -->
	{% block scripts %}
		<script type="text/javascript" src="{{STATIC_URL}}js/include/jquery-1.7.2.min.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/include/jquery.dateFormat-1.0.js"></script>
		<script type="text/javascript" src="{{STATIC_URL}}js/base.js"></script>
	{% endblock %}
</head>
<body>

<div id="main-container">
	<div id="header">
		{% if selected_course.icon %}
			<img id="course-icon" src="{{ selected_course.icon }}" alt="Course Icon">
		{% else %}
			<img id="course-icon" src="{{STATIC_URL}}img/cap_inverted.png" alt="Course Icon">
		{% endif %}
		<span id="course-name">{{ selected_course }}</span>

		<div id="user-controls">
			{% if request.user.is_authenticated %}
				<span id="welcome">Welcome, {{ request.user.first_name }}</span><br />
			{% endif %}

			<a href="#">About &#124;</a>

			{% if other_courses_available %}
				<a href="{% url select_course %}">Switch Course &#124;</a>
			{% endif %}

			{% if not request.user.is_authenticated %}
				<a href="{% url login %}" style="font-weight: bold">Login</a>
			{% else %}
				<a href="#">Settings &#124;</a>
				<a href="{% url logout %}" style="font-weight: bold">Logout</a>
			{% endif %}
		</div>

		<div id="tabs">
			{% url home as home_url %}
			<span class="tab {% active request home_url %}">
				<a href="{{ home_url }}">Home</a>
			</span>

			{% url news as news_url %}
			<span class="tab {% active request news_url %}">
				<a href="{{ news_url }}">News</a>
			</span>

			{% if request.user.is_authenticated %}
				{% url materials as materials_url %}
				<span class="tab {% active request materials_url %}">
					<a href="{{ materials_url }}">Materials</a>
				</span>

				{% url assignments as assignments_url %}
				<span class="tab {% active request assignments_url %}">
					<a href="{{ assignments_url }}">Assignments</a>
				</span>

				{% url discussion as discussion_url %}
				<span class="tab {% active request discussion_url %}">
					<a href="{{ discussion_url }}">Discussion</a>
				</span>

				{% url grades as grades_url %}
				<span class="tab {% active request grades_url %}">
					<a href="{{ grades_url }}">Grades</a>
				</span>
			{% endif %}
		</div>
	</div>

	<div id="content-container">
		<span class="servertime-epoch">{% now "U" %}</span>
		<div id="servertime" 
			{% if not request.user.is_authenticated %} style="display:none" {% endif %}
		></div>
		{% block content %}
		{% endblock %}
	</div>
</div>

</body>
</html>
