{% extends "base.html" %}

{% block title %}Create Account{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/register.css">
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{{STATIC_URL}}js/register.js"></script>
{% endblock %}

{% block content %}

<div class="content-container">
	<h1>Create Account</h1>
	<form id="registration-form" method="POST" enctype="multipart/form-data">
		{% csrf_token %}

		<table id="registration-form-table">
			<tr>
				<td class="form-label">
					<label for="username">Username</label>
				</td>
				<td class="form-element">
					<input type="text" id="username" name="username" placeholder="username" />
					<span id="username-status"></span>
				</td>
			</tr>
			<tr>
				<td class="form-label">
					<label for="first-name">First Name</label>
				</td>
				<td class="form-element">
					<input type="text" id="first-name" name="first_name" placeholder="John" />
				</td>
			</tr>
			<tr>
				<td class="form-label">
					<label for="last-name">Last Name</label>
				</td>
				<td class="form-element">
					<input type="text" id="last-name" name="last_name" placeholder="Appleseed" />
				</td>
			</tr>
			<tr>
				<td class="form-label">
					<label for="email">Email</label>
				</td>
				<td class="form-element">
					<input type="text" id="email" name="email" placeholder="jappleseed@email.arizona.edu" />
				</td>
			</tr>

			<tr></tr>

			<tr>
				<td class="form-label">
					<label for="password1">Password</label>
				</td>
				<td class="form-element">
					<input type="password" id="password1" name="password1" />
				</td>
			</tr>
			<tr>
				<td class="form-label">
					<label for="password2">Retype Password</label>
				</td>
				<td class="form-element">
					<input type="password" id="password2" name="password2" />
				</td>
			</tr>
		</table>

		<div id="create-button-container">
			<input type="submit" value="Create Account" class="button" id="create-button" />
		</div>
	</form>
</div>

{% endblock %}
