div#assignments-left-panel,
div#assignments-right-panel {
	min-height: 600px;
}

div#assignments-left-panel {
	width: 60%;
	float: left;
}


/** Assignments List **/

div#assignments-list-container {
	padding-right: 10px;
}

div#assignments-list-container > h1 {
	font-size: 14pt;
	margin-bottom: 15px;
}

div#assignments-list-container > h2 {
	color: #333;
	font-size: 12pt;
	font-weight: normal;
	font-style: italic;
}

ol#assignments-list {
	list-style-type: none;
}

ol#assignments-list > li {
	padding: 10px;
	border: 1px solid #aaa;
}

ol#assignments-list > li + li {
	margin-top: 20px;
}

div.assignment-title {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

div.assignment-title > a {
	color: #000;
	text-decoration: none;
}

div.assignment-title > a:hover {
	text-decoration: underline;
}

div.assignment-due {
	font-size: 11pt;
}

span.icon-exclamation-sign {
	color: #d00;
}


/** Assignments Calendar **/

div#assignments-right-panel {
	width: 40%;
	float: right;
	position: relative;
}

div.assignment-calendar-controls {
	text-align: center;
	padding: 10px;
}

div.assignment-calendar-controls > div {
	border: 1px solid #333;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	text-align: center;
	width: 100px;
}

div.assignment-calendar-controls > div:hover {
	background-color: #eee;
	cursor: pointer;
}

div.assignment-calendar > table {
	border: 1px solid #333;
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
}

div.assignment-calendar > table td {
	border: 1px solid #333;
	font-size: 10pt;
	padding: 5px;
	vertical-align: top;
}

div.assignment-calendar > table td#today {
	background-color: #eee;
}

div.assignment-calendar > table th.month {
	font-family: "Palatino", serif;
	font-size: 14pt;
	font-weight: normal;
	padding: 5px;
}

div.assignment-calendar > table
th.mon, th.tue, th.wed, th.thu, th.fri, th.sat, th.sun {
	font-size: 10pt;
	font-weight: normal;
	padding: 5px;
}

div.assignment-calendar div.assignment-calendar-item > span {
	font-size: 18pt;
}

div.assignment-calendar div.assignment-calendar-item > span.low {
	color: #00f;
}

div.assignment-calendar div.assignment-calendar-item > span.normal {
	color: #000;
}

div.assignment-calendar div.assignment-calendar-item > span.high {
	color: #f00;
}
