{% extends "base.html" %}

{% block title %}Assignments{% endblock %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/assignments.css">
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript" src="{{STATIC_URL}}js/assignments.js"></script>
{% endblock %}

{% block content %}

<div class="content-container">
	<div id="assignments-container">
		<div id="assignments-left-panel">
			<div id="assignments-list-container">
				<h1>Upcoming Assignments</h1>
				{% if assignments %}
					<ol id="assignments-list">
						{% for assignment in assignments %}
							{% if assignment.visible %}
								<li>
									<div class="assignment-title">
										{% if assignment.priority == 2 %}
											<span class="icon-exclamation-sign"></span>
										{% endif %}
										<a href="{% url view_assignment assignment.pk %}">
											{{ assignment.title }}
										</a>
										{% if assignment.assets.all %}
											<span class="icon-file"></span>
										{% endif %}
									</div>
									<div class="assignment-due">
										Due <strong>{{ assignment.due }}</strong>
									</div>
								</li>
							{% endif %}
						{% endfor %}
					</ol>
				{% else %}
					<h2>No assignments have been added yet.</h2>
				{% endif %}
			</div>
		</div>
		<div id="assignments-right-panel">
			<div class="assignment-calendar-controls unselectable">
				<div class="calendar-left icon-caret-left"></div>
				<div class="calendar-right icon-caret-right"></div>
			</div>

			<span class="servertime-month">{{ current_month }}</span>
			<span class="servertime-year">{{ current_year }}</span>

			<div class="assignment-calendar">
				{{ calendar_html|safe }}
			</div>
		</div>

		<br style="clear:both" />
	</div>
</div>

{% endblock %}
