{% extends "base.html" %}

{% load humanize %}
{% load grading_tags %}

{% block title %}Grades{% endblock %}

{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}/css/grades.css">
{% endblock %}

{% block content %}

<div class="content-container">
	{% if assignment_groups %}
		{% for group in assignment_groups %}
			<div class="assignment-group">
				<h3>{{ group.title }}</h3>
				<div class="assignment-group-total-weight">
					<span class="weight-description">
						Total Weight Achieved:
					</span>
					<span class="weight-number">
						{% weight_for_group request group as weight %}
						{{ weight.0|floatformat:2 }} / {{ weight.1|floatformat:2 }}
					</span>
				</div>
				<table class="grades-table" id="{{ group.pk }}">
					<tr>
						<th>Grade Item</th>
						<th>Points Earned</th>
						<th>Weight</th>
					</tr>
					{% for assignment in group.assignments.all %}
						<tr>
							<td class="assignment-title-cell">
								<a href="{% url view_assignment assignment.pk %}">
									{{ assignment.title }}
								</a>
							</td>
							<td class="assignment-points-cell">
								{% latest_submission_grade request assignment %}
								/
								{{ assignment.max_points }}
							</td>
							<td class="assignment-weight-cell">
								{% weight_for_assignment request assignment as weight %}
								{{ weight.0|floatformat:2 }} / {{ weight.1|floatformat:2 }}
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		{% endfor %}
	{% else %}
		<div class="no-assignments">
			<span class="icon-ban-circle"></span>
			There are no weighted assignments yet.
		</div>
	{% endif %}

	{% if ungrouped_assignments %}
		<div id="ungrouped-assignments">
			<h3>Unweighted Assignments</h3>
			<table class="grades-table" id="ungrouped">
				<tr>
					<th>Assignment</th>
					<th>Points Earned</th>
				</tr>
				{% for assignment in ungrouped_assignments %}
					<tr>
						<td class="assignment-title-cell">
							<a href="{% url view_assignment assignment.pk %}">
								{{ assignment.title }}
							</a>
						</td>
						<td class="assignment-points-cell">
							{% latest_submission_grade request assignment %}
							/
							{{ assignment.max_points }}
						</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	{% endif %}
</div>

{% endblock %}
