* {
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 12pt;
	min-width: 1024px;

	background-color: #C02942;
}


/* Custom Fonts */

@font-face {
	font-family: Harabara;
	src: url("/static/font/Harabara.ttf");
}


/* Stupid old Firefox fix */

a > img {
    border: none;
}


/* Common */

div.content-container {
	margin: 0 auto;
	padding: 20px 0;
	width: 900px;
}

h3 {
	font-weight: normal;
	font-size: 12pt;
	border-bottom: 1px solid gray;
	padding-bottom: 0.2em;
	margin-bottom: 1em;
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.error {
	color: #f00;
	font-size: 9pt;
	margin: 0 0.5em;
}

.button {
	color: #fff;
	cursor: pointer;
	font-size: 12pt;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	text-shadow: 0 1px 1px #333;
	vertical-align: middle;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	background-color: #0074cc;
	background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
	background-image: -o-linear-gradient(top, #0088cc, #0055cc);
	background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
	background-image: linear-gradient(top, #0088cc, #0055cc);
	background-repeat: repeat-x;
	border-color: #0055cc #0055cc #003580;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:dximagetransform.microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
	filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.button:active {
	background-image: none;
	outline: 0;

	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);

	background-color: #0055cc;
	*background-color: #004ab3;
	background-color: #004099 \9;
}

.no-data {
	color: #333;
	font-style: italic;
	padding: 20px 0;
}

.no-data > .icon-ban-circle {
	font-size: 100px;
}


/* Main */

div#main-container {
	height: 100%;
}

.servertime-epoch,
.servertime-month,
.servertime-year {
	display: none;
}

div#servertime {
	border-bottom: 1px solid #ccc;
	font-size: 10pt;
	margin: 0 auto;
	padding: 20px 0 5px 0;
	text-align: center;
	width: 300px;
}


/* Header */

div#header {
	color: #FFF;
	padding: 20px 20px 0 20px;
}

div#header > img#course-icon {
	height: 40px;
	vertical-align: middle;
}

div#header > span#course-name {
	font-size: 16pt;
	font-family: Harabara;
	margin-left: 1em;
}

div#header > div#user-controls {
	float: right;
	font-size: 10pt;
	height: 40px;
	margin-top: 10px;
	line-height: 14pt;
	text-align: right;
}

div#header > div#user-controls > span#welcome {
	font-weight: bold;
}

div#header > div#user-controls a {
	color: #fff;
	text-decoration: none;
}


/* Tabs */

div#tabs {
	margin-top: 20px;
	padding: 0;
	z-index: 2;
}

span.tab {
	color: #fff;
	display: inline-block;
	font-size: 10pt;
	font-weight: bold;
	padding: 5px;
	text-align: center;
	width: 80px;
}

span.tab.active {
	background-color: #fff;
	color: #000;
}

span.tab + span.tab {
	margin-left: 5px;
}

span.tab > a {
	color: inherit;
	text-decoration: none;
}


/* Content */

div#content-container {
	background-color: #fff;
	box-shadow: 0px 0px 5px #000;
	min-height: 100%;
	z-index: 1;
}
